@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #3a353F;
  --dark-blue: #505668;
  --cream: #F1ECE1;
  --orange: #C05850;
  --salmon: #E2AB7F;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}


.blob {
	border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  width: 20rem;
  height: 20rem;
  background-image: url("../public/photo_profile.jpeg");
  background-size: cover;
  box-shadow: -10vmin 10vmin 0 rgba(255,255,255,0.07);
	animation: morph 10s linear infinite alternate;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

.active-scroll-spy {
  color: #C05850;

}
